# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.vscode
.idea/

# Directories
models/
results/
mlruns/
venv/

# File Extensions
*.csv
*.pickle
*.pyc

# Environment Variables
.env

# Installer logs
pip-log.txt

# Allow CSV files in data directory
!/data/*.csv